@import "../../bower_components/foundation/scss/foundation/components/grid";



$font-red: #a30f19;
$red-fade: hsla(355, 81%, 35%, 0.7);


body {
   font-family: 'Raleway', sans-serif;
   background-image: url('/images/diamondbackground2.png');
    background-size: 40% auto;
}

header {
    height: 80;
    border-bottom: 3px solid hsla(355,81%,35%,0.4);
    background-color: hsla(0,0%,73%,0.6);
    // position: fixed;

    .logo{
        // float: left;
        display: inline;
        img {
             width: 30%;
             margin-bottom: -63px;
             margin-top: 15px;
             margin-left: 50px;

        }
    }

    nav {
        float: right;
        margin-right: 13%;
        margin-top: 10px;

        a{
            padding: 10px;
            font-size: 1.3em;
            font-weight: 800;
            color: #a30f19;
            -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
            padding: 13px;
            transition: 1s ease;
                  text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);


            a:hover {
                color: #a30f19;
                webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                transform: scale(1.4);
                transition: 1s ease;
            }
        }
    }


}



.sliderImg {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 3px solid $red-fade;
    padding: 3px;
    // margin-bottom: 15px;
    // margin-top: 20px;
}






 .container {
    height: auto;
    margin-top: 65px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;


    h2{
      text-align: center;
      margin-top: 30px;
      color: $font-red;
       -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
      font-weight: 800;
      font-size: 3em;
      text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);

    }
     h3{
      text-align: center;
      margin-top: 30px;
      color: $font-red;
       -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
      font-weight: 800;
      font-size: 2em;
      text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);

    }

  }


//Chips 

.chipsnav {
  text-align: center; 

  a{
    color: hsla(0,0%,40%,1);

    &:hover {
      color: black;
    }
  }
}

.aboutp {
  text-align: center;
      color: hsla(0,0%,30%,1);

}


.left {
  float: left;
  margin-top: 10px;
  margin-left: 11%;
  // width: 45%;

  p {
    color: hsla(0,0%,30%,1);
  }

}

.right {
  float: right;
    margin-top: -52px;
  margin-right: 21%;


  img {
  width: 266px;
}
}







    

//About Section


// Contact Section


//footer 

footer{
  height: 50px;

  border-top: 3px solid hsla(355,81%,35%,0.4);
  background-color: hsla(0,0%,73%,0.6);
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  .footleft {
    float: left;
    width: 30%;

  }
  .footright {
    float: right;
    width: 30%;
  }
}
