
@import "../../bower_components/foundation/scss/foundation/components/grid";



$font-red: #a30f19;
$red-fade: hsla(355, 81%, 35%, 0.7);


body {
   font-family: 'Raleway', sans-serif;

   background-image: url('/images/diamondbackground2.png');
    background-size: 40% auto;
    // border: 3px solid hsla(355,81%,35%,0.5);
    // box-shadow: 3px 3px 3px 3px hsla(0,0%,30%,0.2);
    // background-color: hsla(355, 81%, 35%, 0.2);
}



header {
  // background-image: url('/images/diamondbackground2.png');
    // background-size: 40% auto;
    height: 80px;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid hsla(180,100%,99%,0.4);
    background-color: hsla(356,83%,35%,1);
    // background-color: hsla(0,0%,5%,0.8);
     background-size: 119% auto;
  position: fixed;
  top: 0px;
  background-position-y: -73px;
  background-repeat: no-repeat;
  // box-shadow: 1px 1px 1px 1px yellow;

    .logo{
        // float: left;
        display: inline;
             // z-index: 1;

        img {
             width: 300px;
             margin-bottom: -63px;
             margin-top: 0px;
             margin-left: 50px;
             // z-index: 1;

        }
    }

   .menu{
        float: right;
        margin-right: 7%;
        margin-top: 20px;

        a{
            padding: 10px;
            font-size: 1.5em;
            font-weight: 800;
            color: white;
            -webkit-text-stroke-width: 0.9px;
            -webkit-text-stroke-color: $red-fade;
            padding: 13px;
            transition: 1s ease;
            text-shadow: 4px 4px 4px hsla(0,0%,30%,0.9);


            &:hover {
                color: white;
                webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                transition: 1s ease;
            }
            &:focus {
              color: white;
            }
        }
    }



//Mobile Nav

 nav {
   display: none;


.nav li {

  display: block;
}
}
}


.hiddenimg{
  padding-top: 30px;
  display: none;
}


.sliderImg {
    // width: 100%;
    display: block;
    margin: 0 auto;
    // margin-top:100px;
    margin-top: -64px;
    text-align: center;
    z-index: 100;
    // height: 400px;
    // margin-bottom: 200px;
    border-bottom: 3px solid $red-fade;
    // padding: 3px;
    margin-bottom: -24px;
    // margin-top: 20px;
}





.social {
  // clear: both;

  height: 300px;
    margin-top: -27px;



}
 .container {
    height: auto;
    margin-top: 100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;


    h2{
      text-align: center;
      margin-top: 30px;
      color: $font-red;
       -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
      font-weight: 800;
      font-size: 3em;
      text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);

    }
     h3{
      text-align: center;
      margin-top: 30px;
      color: $font-red;
       -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
      font-weight: 800;
      font-size: 2em;
      text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);

    }

  }






.singlechip {
 
  // width: 65%;
  width: 280px;
  padding: 0;
}

.right {
  float: right;
// margin-left: 50px;
  // margin-right: 15%;
  margin: 0 auto;

}



.aboutsection,
.chipssection,
.contactsection {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
//Chips 

.chipsnav {
  text-align: center; 

  a{
    color: hsla(0,0%,40%,1);

    &:hover {
      color: black;
    }
  }
}

.aboutp {
  text-align: center;
      color: hsla(0,0%,30%,1);

}

.words {
position: relative;
z-index: 1;
margin-top: -55%;
height: 400px;

h2 {
  font-size: 1.5rem;
}
a {
  color: #a60d13;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

&:hover{
  color: white ;
text-shadow: -1px 0 #a60d13, 0 1px #a60d13, 1px 0 #a60d13, 0 -1px #a60d13;

}
}
.left {
  float: left;
  margin-top: 10px;
  margin-left: 11%;
  // width: 45%;

  p {
    color: hsla(0,0%,30%,1);
  }

}



  .logo{
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }


  .bg {
    max-width: 100%;
    position: relative;
    // opacity: 0.7;
    // height: auto;
    // image: repeat;
    // z-index: 10;
  }


  .bg2 {

    max-width: 100%;
    position: relative;
    // opacity: 0.7;
    // image: repeat;
    // z-index: 10;
  }
  
}



//About Section


// Contact Section

.contactsection {
  height: 450px;

  h4{
    text-align: center;
  }

  a{
    text-align: center;
      margin-top: 30px;
      color: $font-red;
       -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
      font-weight: 800;
      font-size: 1em;
      text-shadow: 3px 3px 3px hsla(0,0%,30%,0.6);
  &:hover{
    text-shadow: 4px 4px 4px hsla(0,0%,30%,0.9);
  }
  }
}

//footer 

footer{
  height: 70px;

  border-top: 3px solid hsla(355,81%,35%,1);
  background-color: hsla(356,83%,35%,1);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  padding-top: 2px;

  .footleft {
    // float: left;
    // width: 35%;
    p{
    margin: 0;
}
  }
  .footright {
    // float: right;
    // width: 30%;
    a {
      color: white;
      padding: 5px;

      &:hover {
        color:$red-fade;
        -webkit-text-stroke-width: 0.9px;
            -webkit-text-stroke-color: white;
      }
    }
  }
}

 @media (max-width: 950px) {
    header{
      height: 60px;

    .menu {
      display: none;
    }

    .logo{
      img{
        width: 250px;
      }
    }

  nav {
     display: block;
   }

   .nav {
     width: 100%;
     display: none;
     float: right;
     color: white;
     font-size: 30px;
     background-color: hsla(356, 83%, 35%, 1);
     text-align: center;
     margin: 0 auto;
     margin-top: -38px;
     li {
     a{
         font-size: 1.1em;
            font-weight: 800;
            color: white;
            -webkit-text-stroke-width: 0.9px;
            -webkit-text-stroke-color: $red-fade;
            padding: 13px;
            transition: 1s ease;
            text-shadow: 4px 4px 4px hsla(0,0%,30%,0.9);


            &:hover {
                color: white;
                webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                transition: 1s ease;
            }
            &:focus {
              color: white;
            }
        }
     }
 }



   .nav-btn {
     display: block;
     margin-top: -50px;
     float: right;
     margin-right: 30px;
      cursor: pointer;
     color: white;
      -webkit-text-stroke-width: 0.9px;
            -webkit-text-stroke-color: $red-fade;



            
   }

   .btn-img{
     // margin-right: 15px;
     // margin-top: -5px;
     // width: 35px;
     // height: 45px;

   }

   .nav-btn:before{

   }
}



footer{
  height: 45px;
  padding-top: 4px;
}
 .footleft{
  display: none;
 }


 .hiddenimg {
    display: block;
    margin-top: -30px;
    margin-bottom: -30px;
}
}


@media (max-width: 690px){
header{
  .logo{
      img{
        width: 200px;
        margin-left: 10px;
      }
    }
    .nav-btn{
      margin-top: -20px;
    }
}




}

 @media (max-width: 400px){

header{
  .logo{
      img{
        width: 150px;
        margin-left: 10px;
      }
    }
    .nav-btn{
      margin-top: -10px;
    }

    .nav{
      margin-top: 5px;

      a{
        font-size: 1em;
      }
    }
}
 }







