@import "../../bower_components/foundation/scss/foundation/components/magellan";
@import "../../bower_components/foundation/scss/foundation/components/global";
@import "../../bower_components/foundation/scss/foundation/components/flex-video";
@import "../../bower_components/foundation/scss/foundation/components/reveal";
@import "../../bower_components/foundation/scss/foundation/components/grid";
$font-red: #a30f19;
$red-fade: hsla(355, 81%, 35%, 0.7);


body {
   font-family: 'Raleway', sans-serif;
   background-image: url('/images/diamondbackground2.png');
    background-size: 40% auto;
}

header {
    height: 80;
    border-bottom: 3px solid hsla(355,81%,35%,0.4);
    background-color: hsla(0,0%,73%,0.6);

    .logo{
        // float: left;
        display: inline;
        img {
             width: 30%;
             margin-bottom: -63px;
             margin-top: 15px;
             margin-left: 50px;

        }
    }

    nav {
        float: right;
        margin-right: 13%;
        margin-top: 10px;

        a{
            padding: 10px;
            font-size: 1.3em;
            font-weight: 800;
            color: #a30f19;
            -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: white;
            padding: 13px;
            transition: 1s ease;

            a:hover {
                color: #a30f19;
                webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                transform: scale(1.4);
                transition: 1s ease;
            }
        }
    }


}


.bgslide{
   background-image: url('/images/diamondbackgroundblue.png');
   padding-top: 97px;
   padding-bottom: 20px;
   margin-top: -55px;
   border-bottom: 3px solid hsla(355,81%,35%,0.4);
background-size: 40% auto;
// background-size: 3% auto;
   // margin-bottom: 10px;
}
.sliderImg {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 3px solid $red-fade;
    padding: 3px;
    margin-bottom: 15px;
    // margin-top: 81px;
}






 .container {
    height: auto;
    margin-top: 70px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;


    h2{
      text-align: center;
      margin-top: 30px;
    }

  }


//Chips 

.chipsnav {
  text-align: center; 
}




.left {
  float: left;
  margin-top: 10px;
  margin-left: 11%;
  width: 45%;

}

.right {
  float: right;
  width: 38%;
  margin-top: -40px;

  img {
  width: 60%;
  margin-left: 8%;  }
}





    

//About Section


// Contact Section

