<h2>About Us!</h2>

<p class="aboutp">One day Jon & Steve were hanging out with not much to do...After a long time of talking about what to do the rest of their lives, they came up with nothing!
        <br/>So 2 guys who were 2 Thirsty and Hungry bought some Kettle Chips, Beer, Bloody Mary Mix and some Whiskey...Well after being 2 Ferment they began to mix the Beer with the Chips then The Whiskey and some BBQ they grilled up with the Chips and when it was too late they cracked open the Bloody Mary mix and what the ____they mix it with the Kettle Chips....That was the way these 2 Guys got started!
        <br/>
        Of course it took more than 2 Days many to perfect and today they offer 4 varieties of a uniquely package Kettle Chips.
        <br/><br/>
      <b>  As our slogan goes:</b>
        <br/>
        2 Guys-2 Days-2 Thirsty
        <br/>
        2 Hungry-2 Bored
        <br/>
        2 Fermented
        <br/>
        Hunger for Taste - Enjoy!
        <br/>
        <br/>
      <b>Jon & Steve </b>
        <br/>

        <i>“Dudes in Charge”</i>

      </p>
