<!-- <div class="container"> -->


<!-- <h2>Beer Kettle Chips</h2>



	
		<p>There’s nothin’ better than a frosty cold one but sometimes the mood is there but the beer is not. That’s why I’m always wolfin’ down Fat Boyz Beer Chips. The perfect combination of sweet and savory with the remarkable taste and smell of beer! Remember- just because you should drink responsibly don’t mean you have to eat responsibly! Enjoy the ride!</p>

		<hr>

	<p><b>Ingredients:</b> Potatoes, Vegetable Oil (contains one or more of the following: Canola, Corn, Cottonseed, Safflower, Soybean or Sunflower), Sea Salt and Spices.</p>	


	
	<img class="singlechip" src="/images/BKCsingle.png" alt="">
		
	
 -->


<!-- </div> -->
