
<h2>Bloody Mary Kettle Chips</h2>





	<div class="left">		<p>I am so screwed up! Found myself sitting on the curb leaning against my bike- pounding headache, starving, and no clue as to how I got here. Last night must have been a party! I could sure use a drink to settle my brain and something to eat to settle my belly. No drinks in sight but thank that great biker angel in the sky for Fat Boyz Bloody Mary Chips. With its distinctive spicy tomato flavor it’s the perfect morning after or anytime snack! Enjoy the ride!</p>

		<hr>

	<p><b>Ingredients:</b> Potatoes, Vegetable Oil (contains one or more of the following: Canola, Corn, Cottonseed, Safflower, Soybean or Sunflower), Sea Salt and Spices.</p>	

</div>


<div class="right">	<img class="singlechip" src="/images/BMKCsingle.png" alt="">
</div>
	