<div class="homepage">


<img class="sliderImg" src="images/FB3.jpg" alt="">


<!-- <img class="hiddenimg" src="images/Start%20Packin.png" alt=""> -->
<div class="hiddenimg">
<h3><b>  As our slogan goes:</b></h3>
        <br/>
       <p> 2 Guys-2 Days-2 Thirsty
        <br/>
        2 Hungry-2 Bored
        <br/>
        2 Fermented
        <br/>
        Hunger for Taste - Enjoy!
        <br/>
        <br/>
      <b>Jon & Steve </b>
        <br/>

        <i>“Dudes in Charge”</i></p>
</div>
</div>