
<h3>Naked Kettle Chips</h3>



<div class="row">
	  <div class="medium-6 columns">


	<div class="left">		<p>When I have extra cash, doesn't happen much, I play cards. I usually do OK. But not this time! That's what I get for playing with cagers instead of my biker brothers. These dudes were taking me for all I had, and then some! I owed a lot and didn't have it so I had no choice, I had to bolt! I blipped the throttle and took off. Got out by the seat of my ----- with my two favorite things, my hog and my Fat Boyz Naked Chips. Crunchy kettle chips and sea salt. Rip open a bad and dig in, one taste and you'll be wearing a smile, kind of like me right now! Enjoy the ride! </p>

		<hr>

	<p><b>Ingredients:</b> Potatoes, Vegetable Oil (contains one or more of the following: Canola, Corn, Cottonseed, Safflower, Soybean or Sunflower), Sea Salt and Spices..</p>	

</div>
</div>

<div class="medium-6 columns">
<div class="right">	<img class="singlechip" src="/images/NKCsingle.png" alt="">
</div>
</div>
</div>
	  