
<h3>Whiskey BBQ Kettle Chips</h3>


<div class="row">
	  <div class="medium-6 columns">



	<div class="left">		<p>I know what you’re thinkin’, big deal, another BBQ chip jonesin’ to fake some boozy taste. Are you forgettin’ that this is me, Chip, and this is Fat Boyz! Think whiskey shots, my elixir of choice when I’m out there slavin’ over the grill, mixed with BBQ. Now tell me what could be better? Open the bag and take a whiff! Smells like you just dove into a cask of good old southern whiskey. Enjoy the great taste of whiskey together with sweet BBQ. CAUTION: It’s easy to get lost in a bag of these chips so don’t forget about the grill! There’s nothin’ worse than pissin’ off my biker buds by burnin’ the baby backs! Enjoy the ride!</p>

		<hr>

	<p><b>Ingredients:</b> Potatoes, Vegetable Oil (contains one or more of the following: Canola, Corn, Cottonseed, Safflower, Soybean or Sunflower), Sea Salt and Spices.</p>	

</div>
</div>

  	<div class="medium-6 columns">
<div class="right">	<img class="singlechip" src="/images/WBBQsingle.png" alt="">
</div>
</div>
</div>
	